
{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="ag-format-container">
  <div class="ag-courses_box">
    <div class="ag-courses_item">
      <div class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          BARCODE GENERATOR
        </div>

        <div class="ag-courses-item_date-box">
          Start:
          <a href="/main" class="ag-courses-item_date">
            Create
          </a>
        </div>
      </div>
    </div>

    <div class="ag-courses_item">
      <div class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          TEXT TO SPEECH
        </div>

        <div class="ag-courses-item_date-box">
          Start:
          <a href="/tts" class="ag-courses-item_date">
            Create
          <a>
        </div>
      </div>
    </div>

    <div class="ag-courses_item">
      <div class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          AUDIO BOOK
        </div>

        <div class="ag-courses-item_date-box">
          Start:
          <a href="/audibook" class="ag-courses-item_date">
            Create
          <a>
        </div>
      </div>
    </div>


    <div class="ag-courses_item">
      <div class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          YouTube Video Downloader
        </div>

        <div class="ag-courses-item_date-box">
          Start:
          <a href="/yt" class="ag-courses-item_date">
            Create
          <a>
        </div>
      </div>
    </div>
    


  </div>
</div>
</div>
 
{% endblock content %}
